<footer class="footer fixed-bottom bg-info text-light textbo fw-bold fs-4">
    <div class="container text-center">
        <div class="row">
            <div class="row text-center">
                <div class="col-md-3">
                    <h3>
                        <a href="aboutme" class="btn btn-info text-light textbo fw-bold fs-5" role="button" text-light>About Me</a>
                    </h3>
                </div>
                <div class="col-md-3">

                    <a href="privacypolicy" class="btn btn-info text-light textbo fw-bold fs-5" role="button" text-light>Privacy Policy</a>

                </div>
                <div class="col-md-3">

                    <a href="#link" class="btn btn-info text-light textbo fw-bold fs-5" role="button" text-light>Terms of Service</a>

                </div>
                <div class="col-md-3">

                    <a href="#link" class="btn btn-info text-light textbo fw-bold fs-5" role="button" text-light>Contact Me</a>

                </div>
            </div>
        </div>
    </div>
</footer>