.dyslexic-font {
    font-family: "OpenDyslexic", Arial, sans-serif;
}



.high-contrast {
    background-color: black;
    color: white;
}

.large-text {
    font-size: 1.25rem;
    
}

.faded-green {
    background-color: hsl(113, 68%, 58%);
}

.faded-yellow {
    background-color: #E7DD27;
}

.faded-red {
    background-color: hsl(3, 80%, 56%);
}